<html>
	<head>
		<title>Personnel Creation app</title>
		<script src="app/libs/angular.js"></script>
		<script src="app/personnel.js"></script>
		<script src="app/libs/angular-ui-router.min.js"></script>
	</head>
	<body ng-app="personnel">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>

		<script type="text/ng-template" id="/home.html">
			
			<div class="page-header">
				<h1>Personnel</h1>
			</div>
			
			<div ng-repeat="person in people">
				<span ng-click="promote(person)" style="color:blue">Promote!</span>
				<span><a href="#/employeeDetails/{{$index}}">details</a></span>
				{{person.title}} - Job: {{person.Occupation}}
				<span ng-click="demote(person)"style="color:red">Demote...</span>
			</div>
			
			<form ng-submit="addPerson()">
				<input type="text" ng-model="title"></input>
				<button type="submit">Hired!</button>
			</form>
		</script>

		<script type="text/ng-template" id="/employeeDetails.html">
			
			<div class="page-header">
				<h3>
					{{person.title}}
				</h3>
			</div>

			<div ng-repeat="detail in person.details">
				{{detail}}
			</div>

			<form ng-submit="addDetail()" style="margin-top:30px;">
				<h3>Add new detail</h3>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="phone" ng-model="phone"></input>
					<input type="text" class="form-control" placeholder="hometown" ng-model="hometown" ></input>
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
		</script>
	</body>
</html>
